{% extends 'base.html' %}
{% block content %}
{% load static %}
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    
    <script src="https://kit.fontawesome.com/f14e245263.js"></script>
    <title>Student Data Management System</title>
   </head>
  <body>
   
    
    <div class="container">
      {% if user.is_authenticated %}
      <p>Hello {{username}}</p>
            <div class="text-center">
             
              {% if records %}
                {% for record in records %}
                <table class="table">
                  <thead class="table-dark">
                    <tr>
                    <th>Registration Number</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>National ID</th>
                    <th>Date Joined</th>
                    <th>Profile photo</th>
                    </tr>
                  </thead>
                  <tbody>
                    ...
                  </tbody>
                </table>
                {% endfor %}
              {% endif %}
            </div>

            <script language="javascrpt" type="text/javascript">

              (function(d, m){
              var kommunicateSettings = 
                  {"appId":"26e62e13b4fdf752d93df06f75a7472eb","popupWidget":true,"automaticChatOpenOnNavigation":true};
              var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
              s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
              var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
              window.kommunicate = m; m._globals = kommunicateSettings;
             })(document, window.kommunicate || {});
        
          </script>


       
            {% else %}
            
            <section>
            
          <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <h2>Login</h2>
            
            <form>
         
          
          <div class="form-group">
            <label for="username">Username</label>
            {{form.username}}
          </div>
          
          <div class="form-group">
            <label for="password">password</label>
            {{form.password}}
          </div>
          <button class="login_registration_buttons">Login</button>
          <p>Don&apos;t Have an Account? <a href="{% url 'register' %}">Sign up</a></p>
          </form>
          </form>
          </section>
          <footer>
            <small>
              &copy; 2023 Unify Software Developers
            </small>
          </footer>
      
        </body>
      </html>
    </div>
    
  </body>
</html>

{% endif %}
{% endblock %}