{% extends 'base.html' %}
{% block content %}
{% load static %}

  <head>
    
    <link rel="stylesheet" href="{% static 'home.css' %}">

    <title>Student Data Management System</title>
   
  </head>
  

  <body>
   
    <section>
    <form method="POST" action="">
      {% csrf_token %}
      
      
    <h2>Register</h2>
    <div class="form-group">
      <label for="username">Username</label>
      {{ form.username }}
    </div>
    
    <div class="form-group">
      <label for="email">Email Address</label>
      {{ form.email }}
    </div>
    
    <div class="form-group">
      <label for="password">password</label>
      {{form.password1}}
    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>
      {{ form.password2 }}
    </div>
    <button type="submit"  class="login_registration_buttons">Register</button>
    <p>Already Have an Account? <a href="{% url 'home' %}">Login</a></p>
    </form>
    </section>
    <footer>
      <small>
        &copy; 2023 Unify Software Developers
      </small>
    </footer>

  </body>

</div>
   


{% endblock %}

